@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #be2d37;
  --secondary: #34495e;
  --light-gray: #ecf0f1;
  --font-poppins: "Poppins", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-lightGray: var(--light-gray);

  --font-poppins: var(--font-poppins);
  --font-sans: var(--font-poppins);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}
